@model MovieVM

<h2 class="text-ligth mt-3">Movie Details</h2>

<div class="form-group">
    <label asp-for="Name" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Name)</label>
    <input asp-for="Name" class="form-control" disabled>
</div>

<div class="form-group">
    <label asp-for="Description" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Description)</label>
    <input asp-for="Description" class="form-control" disabled />

</div>

<div class="form-group">
    <label class="form-label mt-4">@Html.DisplayNameFor(x=>x.CategoryId)</label>
    <input asp-for="Category.Name" class="form-control" disabled />
</div>

<div class="form-group">
    <label asp-for="DirectorId" class="form-label mt-4">@Html.DisplayNameFor(x=>x.DirectorId)</label>
    <input asp-for="Director.FullName" class="form-control" disabled />
</div>

<div class="form-group">
    <label asp-for="Starrings" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Starrings)</label>
    <select asp-for="Starrings" class="form-select " asp-items="@ViewBag.Starrings" multiple="" disabled>
    </select>
</div>

<div class="form-group">
    <label asp-for="ReleaseDate" class="form-label mt-4">@Html.DisplayNameFor(x=>x.ReleaseDate)</label>
    <input type="date" asp-for="ReleaseDate" class="form-control" disabled>
</div>

<div class="form-group">
    <label asp-for="RunningTimeMin" class="form-label mt-4">@Html.DisplayNameFor(x=>x.RunningTimeMin)</label>
    <input asp-for="RunningTimeMin" class="form-control" disabled>
</div>

<div class="form-group">
    <label asp-for="LanguageId" class="form-label mt-4">@Html.DisplayNameFor(x=>x.LanguageId)</label>
    <input asp-for="Language.Name" class="form-control" disabled />
</div>

<div class="form-group">
    <label asp-for="Price" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Price)</label>
    <input type="text" asp-for="Price" class="form-control" disabled>
</div>

<div class="form-group">
    <label asp-for="Stock" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Stock)</label>
    <input asp-for="Stock" class="form-control" disabled>
</div>

<div class="form-check">
    <label asp-for="IsActive" class="form-check-label mt-4">Is Movie On Sale</label>
    <input asp-for="IsActive" class="form-check-input mt-4" type="checkbox" value="" disabled>
</div>


<a class="btn btn-primary mt-3" asp-controller="Movie" asp-action="index">Back To List</a>