@model Director


<h2 class="text-ligth mt-3">Details</h2>



<div class="form-group">
    <label asp-for="Id" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Id)</label>
    <input asp-for="Id" class="form-control" disabled>
</div>

<div class="form-group">
    <label asp-for="FirstName" class="form-label mt-4">@Html.DisplayNameFor(x=>x.FirstName)</label>
    <input asp-for="FirstName" class="form-control" disabled>
</div>

<div class="form-group">
    <label asp-for="LastName" class="form-label mt-4">@Html.DisplayNameFor(x=>x.LastName)</label>
    <input asp-for="LastName" class="form-control" disabled />
</div>

<div class="form-group">
    <label asp-for="BirthDate" class="form-label mt-4">@Html.DisplayNameFor(x=>x.BirthDate)</label>
    <input type="date" asp-for="BirthDate" class="form-control" disabled />
</div>

<div class="form-group">
    <label asp-for="DirectedMovies" class="form-label mt-4">@Html.DisplayNameFor(x=>x.DirectedMovies)</label>
    <select asp-for="DirectedMovies" class="form-select" asp-items="@ViewBag.DirectedMovies" disabled></select>
</div>

<a class="btn btn-primary mt-3" asp-controller="director" asp-action="index">Back To List</a>