@model IEnumerable<DirectorVM>

@if (TempData["success"] is not null)
{
    <div class="row">
        <div class="col-lg-2 "></div>
        <div class="alert alert-dismissible alert-success mt-3 col-lg-2 m-2" style="width:400px">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @TempData["success"]
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-2 "></div>
    <a class="btn btn-primary m-2 col-lg-2" asp-controller="Director" asp-action="Create">Create New Director</a>
</div>
<div class="row d-flex justify-content-center">

    <div class="col-lg-8 ">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="table-warning text-center">
                    <th scope="col">@Html.DisplayNameFor(x=>x.Id)</th>
                    <th scope="col">@Html.DisplayNameFor(x=>x.FirstName)</th>
                    <th scope="col">@Html.DisplayNameFor(x=>x.LastName)</th>
                    <th scope="col">@Html.DisplayNameFor(x=>x.BirthDate)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {

                    <tr class="table-primary text-center align-middle">
                        <td>@item.Id</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@(item.BirthDate != null ? ((DateTime)(item.BirthDate)).ToShortDateString() : null)</td>
                        <td>
                            <a class="btn btn-info m-2" asp-controller="Director" asp-action="Edit" asp-route-Id="@item.Id">Edit</a>
                            <a class="btn btn-success m-2" asp-controller="Director" asp-action="Details" asp-route-Id="@item.Id">Details</a>
                            <a class="btn btn-danger m-2" asp-controller="Director" asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
